:root {
    --white: #ffffff;
    --black: #000000;
}

* {
   color: var(--fontColor);
   font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bg);
}

ul {
    font-family: Helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.light-theme {
    --bg: var(--whithe);
    --fontColor: var(--black);
    --bntBg: var(--black);
    --bntFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white); 
    --bntBg: var(--white);
    --bntFontColor: var(--black);
}

.bnt {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--bntFontColor);
    background-color: var(--bntBg);
}

.bnt:focus {
    outline-style: none;
}